In [16]:
#declaring function to calculate square of number
def calculate_square(length):
  return length * length
  #Calling a function
print("the are of firsst square is:",calculate_square(6))
print("the are of second square is:",calculate_square(7))

the are of firsst square is: 36
the are of second square is: 49

#find value of circle

In [46]:
# fruits = ["apple", "banana", "mango", "litchi", "watermelon"]
# print(fruits)

#accessing elements from the list
# print(fruits[0])
# print(fruits[-1])
# print(fruits[4])
# print(fruits[2])

#adding and removging elements from the list
# fruits.append("pineappple")
# print(fruits)

#removing fruits
# fruits.remove("apple")
# print(fruits)

student = {
    "name" : "ramu",
    "class" : 7,


}
#printing values from keys

print(student["name"])
print(student["class"])

#updating gender in particular key in a dictionary
student["gender"] = "female"
print(student)
student["class"] = 9
print(student)

#adding a new key
student["roll_num"] = 10
print(student)

#deleting from exiting discionary
del student["class"]
print(student)

ramu
7
{'name': 'ramu', 'class': 7, 'gender': 'female'}
{'name': 'ramu', 'class': 9, 'gender': 'female'}
{'name': 'ramu', 'class': 9, 'gender': 'female', 'roll_num': 10}
{'name': 'ramu', 'gender': 'female', 'roll_num': 10}

homework

In [ ]:
#age calculator:
date = int(input("enter your date of birth in AD:"))
age = 2025 - date
print(date)